.wrapper {
  @include flex(center, center, column);
  text-align: center;
  padding: 83px 20px;

  .title {
    @include Heading2($color: $gray500);
    margin-bottom: 23px;
  }

  .description {
    .subTitle {
      @include SubHeading3($color: $gray300);
    }

    .subTitle + .subTitle {
      margin-bottom: 9px;
    }

    .statement {
      @include caption1($color: $p400);
      margin-bottom: 56px;
    }
  }

  .imgWrapper {
    @include flex(center, center);
    margin-bottom: 20px;
  }
}
