.wrapper {
  width: 100%;
  height: calc(100% - 68px);
  padding: 0 20px;
  flex: flex;
  background-color: $p400;
}

.title {
  @include Heading1;
  padding-top: 32px;
  color: white;
}

.subTitle {
  @include Body2($color: $p100);
  padding-bottom: 74px;
}

.commandmentWrapper {
  width: 350px;
  height: 455px;
  flex: flex;
  background-color: white;
  padding: 16px 0;
  border-radius: 20px;
}

.commandmentTitle {
  @include SubHeading1($color: $gray400);
  padding-left: 20px;
}

// .itemWrapper {
// }

.commandmentItem {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  height: 24px;
  color: $gray300;
  margin: 4px;
  padding-left: 12px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  margin-right: 4px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 2px 4px;
  margin: 0 4px;
  @include SubHeading3($color: $p50);
  border: none;
  cursor: pointer;
}

.button .icon {
  margin-right: 4px;
}

.line {
  padding-left: -16px;
}
