.sideBar {
  width: 231px;
  height: 812px;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 20px 0 0 0;

  padding: 32px 0 0 20px;

  .sideBarHeader {
    @include flex(center, flex-start);

    .sideBarIcon {
      @include flex(center, center);
      width: 60px;
      height: 60px;
      border-radius: 999px;
      border: 1px solid $gray50;
      background-color: $gray10;
      margin-right: 12px;
    }

    .sideBarFamily {
      .sideBarRole {
        @include Body2($color: $gray500);
        margin-bottom: 2px;
      }

      .sideBarDescription {
        @include caption1($size: 12px, $color: $gray200);
      }
    }
  }

  .sideBarTest {
    @include flex(center, center);
    width: 172px;
    box-shadow: 0 0 0 1px $gray50 inset;
    border-radius: 99px;
    cursor: pointer;
    margin-top: 32px;
    margin-left: 9.5px;

    p {
      @include SubHeading3($color: $gray200);
      padding: 8px;
    }
  }

  .logout {
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 20px;

    @include flex(center, flex-end);

    p {
      @include SubHeading2($color: $gray300);
      margin-left: 8px;
    }
  }
}

.wrapper {
  width: 100%;
  height: 812px;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: $gray10;
  position: relative;

  .headline {
    @include flex(center, flex-start);
    @include SubHeading1($color: $black);

    padding: 32px 20px;
  }

  .card {
    @include flex(flex-start, flex-start);

    width: 350px;
    height: 112px;
    border-radius: 12px;

    margin: 0 20px;

    background-color: white;
    cursor: pointer;

    .image {
      width: 112px;
      height: 100%;

      position: relative;

      img {
        border-radius: 12px 0 0 12px;
      }

      .admin {
        @include caption1($size: 10px, $color: white);
        padding: 2px 4px;
        background-color: $p500;
        border-radius: 6px;
        position: absolute;
        bottom: 8px;
        left: 9px;
      }
    }

    .detail {
      @include flex(flex-start, flex-start, column);
      width: 100%;
      padding: 14px;

      .travelDetail {
        width: 100%;

        .header {
          @include flex(center, flex-start);
          margin-bottom: 2px;

          .dday {
            @include caption2($weight: 600, $color: $p500);
            width: fit-content;
            background-color: $p50;
            padding: 2px 4px;
            border-radius: 6px;
          }

          .existCommandments {
            @include caption2($weight: 600, $color: $gray100);
            padding: 2px 4px;
            border-radius: 6px;
            background-color: $gray10;

            margin-left: 4px;
          }

          .exist {
            color: white;
            background-color: $p300;
          }
        }

        .roomName {
          @include SubHeading2($color: $gray500);
          margin-bottom: 2px;
        }

        .date {
          @include caption1($size: 12px, $color: $gray100);
          margin-bottom: 8px;
        }

        .headCount {
          @include flex(center, flex-end);

          p {
            @include caption1($size: 12px, $color: $gray50);
            margin-left: 2px;
          }
        }
      }
    }
  }

  .card + .card {
    margin-top: 12px;
  }

  .buttonWrapper {
    @include flex(center, flex-end);
    padding: 84px 20px 36px 0;

    .plusButton {
      @include flex(center, center);

      width: 48px;
      height: 48px;
      background-color: $main01;
      border-radius: 99px;

      cursor: pointer;
    }
  }
}

.open {
  overflow-y: hidden;
  filter: brightness(50%);
}
