.wrapper {
  display: flex;
  justify-content: center;

  height: 100vh; /* 화면 전체 높이 */
  overflow: auto; /* 스크롤 생성을 위한 속성 */

  .outletWrapper {
    width: 390px;
    height: 812px;
  }
}

.relative {
  position: relative;
}
