.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  border-radius: 20px;
  width: calc(100% - 40px);
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 310px;
  max-height: 90vh;
  overflow-y: auto;
  margin: 20px;
}

.modalTitle {
  @include SubHeading2;
  color: $gray400;
}

.modalBody {
  padding-top: 32px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
