.wrapper {
  width: 100%;
  height: calc(100% - 68px);
  background-color: $p400;
  padding: 0 20px;
}

.titleContainer {
  margin-bottom: 49px;
  padding-top: 3px;

  .dday {
    @include flex(center, center);
    @include caption2($weight: 600, $color: $p500);
    padding: 2px 8px;
    background-color: $p100;
    width: 42px;
    height: 21px;
    border-radius: 6px;
    margin-bottom: 8px;
  }

  .title {
    @include SubHeading2($size: 22px, $color: white);
    margin-bottom: 4px;
  }

  .travelDate {
    @include flex(center, start, row);
    @include Body2($color: $p100);
    gap: 4px;
  }
}

.familyMemberTitle {
  @include SubHeading2($size: 16px, $color: white);
  margin-bottom: 8px;
}

.familyMemberContainer {
  @include flex(start, start, row);
  margin-top: 8px;
  margin-bottom: 23px;
}

.familyWrapper {
  @include flex(center, center, column);

  .familyMemberList {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    background-color: white;
    position: relative;

    &.familyAdminImg {
      background-color: $p50;
      border: 1px solid $p500;
    }

    &.familyMemberImg {
      background-color: $gray10;
      border: 1px solid $gray50;
    }

    .icon {
      position: absolute;
      right: 0;
    }

    .travelIcon {
      @include flex(center, center);
    }
  }

  .familyMemberName {
    @include caption1($size: 10px, $color: white);
    margin-top: 8px;
  }
}

.commandmentListContainer {
  height: 469px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.commandmentListTitle {
  @include SubHeading1;
  color: $gray400;
  padding-left: 20px;
  padding-top: 20px;
  height: 25px;
}

.commandmentItem {
  @include flex(center, center, column);
  margin: 0 auto;
  text-align: center;
  margin-top: 105px;
  width: 218px;
  height: 200px;
}

.commandmentItem .info {
  @include caption1;
  color: $gray300;
  padding-top: 8px;
  padding-bottom: 28px;
}
.buttonPlaceholder {
  height: 100%;
  width: 100%;
}

.buttonWrapper {
  height: 44px;
}

.button {
  border-color: $p300;
}

.iconWrapper {
}
