.wrapper {
  @include flex(center, space-between, column);

  height: calc(100% - 68px);
  padding: 32px 20px 36px 20px;

  .inputWrapper {
    .label {
      display: flex;
      margin-top: 44px;
      margin-bottom: 12px;
      @include SubHeading1($color: $black);

      span {
        color: $main02;
        margin-left: 4px;
      }
    }

    .dayPickerWrapper {
      @include flex(center, space-around);
      margin-bottom: 44px;

      p {
        margin: 0 10px;
      }
    }
  }

  .createButton {
    width: 100%;
  }
}

.dayPickerInput {
  @include allUnset;
  @include autofill-box-shadow($color: #f5f6f7);
  @include autofill-box-shadow-focused($color: $main02);

  &.error {
    border: 1px solid $error;
  }

  &:focus:not(.error) {
    border: 1px solid $main02;
  }

  &::placeholder {
    @include Body1($color: $gray100);
  }
}

.input {
  @include flex(center, center);
  width: 100%;
  height: 54px;
  padding: 16px;

  border: none;
  border-radius: 12px;
  background-color: #f5f6f7;
}

.dayPicker {
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
