.wrapper {
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.subTitle {
  padding-top: 24px;
  @include SubHeading3;
  padding-bottom: 4px;
  color: $gray300;
}

.title {
  @include Heading1;
  color: $p500;
  padding-bottom: 12px;
}

.tagsWrapper {
  @include flex(center, center, row);
  margin-bottom: 48px;
  gap: 0 2px;
}

.tag {
  @include flex(center, center, row);
  font-size: 12px;
  color: $p400;
  padding: 4px 8px;
  border-radius: 99px;
  border: 1px solid $p100;
}

.characterImg {
  width: 244px;
}

.descriptionWrapper {
  max-height: 96px;
  margin-top: 64px;
  margin-bottom: 83px;
}

.description {
  margin-bottom: 16px;
  @include Body2();
  display: flex;
  text-align: center;
  color: $gray300;
  // white-space: pre-wrap;
  // word-break: keep-all;

  &:last-child {
    margin-bottom: 0;
  }
}
