.wrapper {
  width: 100%;
  height: calc(100% - 68px);
  background-color: $p400;
  padding: 0 20px;
}

.titleContainer {
  margin-bottom: 48px;
  height: 88px;
  padding-top: 3px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 4px;
  color: white;
}

.dday {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
  color: $p500;
  background-color: $p100;
  width: 44px;
  height: 22px;
  border-radius: 6px;
  @include caption2;
}

.travelDate {
  @include flex(center, start, row);
  text-align: center;
  color: $p100;
  @include Body2;
  height: 20px;
  gap: 4px;
}

.familyMemberTitle {
  @include SubHeading2;
  color: white;
  margin-bottom: 8px;
  height: 22px;
}

.familyMemberContainer {
  @include flex(start, start, row);
  height: 109px;
  margin-top: 8px;
}

.familyMemberList {
  margin-right: 10px;
  width: 60px;
}

.familyAdminImg {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: $p50;
  border: 1px solid $p500;
}

.familyMemberImg {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background-color: $gray10;
  border: 1px solid $gray50;
}

.familyAdminImg .icon {
  position: absolute;
  left: 61px;
}

.familyMemberName {
  text-align: center;
  width: 60px;
  height: 10px;
  font-size: 10px;
  font-weight: 400;
  color: white;
  margin-top: 8px;
}

.commandmentListContainer {
  height: 469px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.commandmentListTitle {
  @include SubHeading1;
  color: $gray400;
  padding-left: 20px;
  padding-top: 20px;
  height: 25px;
}

.commandmentItem {
  @include flex(center, center, column);
  margin: 0 auto;
  text-align: center;
  margin-top: 105px;
  width: 218px;
  height: 200px;
}

.commandmentItem .info {
  @include caption1;
  color: $gray300;
  padding-top: 8px;
  padding-bottom: 28px;
}
.buttonPlaceholder {
  height: 100%;
  width: 100%;
}

.buttonWrapper {
  height: 44px;
}

.button {
  border-color: $p300;
}
