.wrapper {
  position: relative;

  .tooltip {
    @include flex(center);
    position: absolute;
    padding: 6px 12px;
    border-radius: 999px;
    border: 1px solid $main01;
    width: max-content;
    background-color: $p50;
    z-index: 2;

    bottom: calc(100% + 16px);
    transform: translateX(calc(50% - 110px));
    right: -25px;

    .tooltipArrow {
      bottom: -10px;
      transform: translateX(50%);
      right: 55px;
    }

    .content {
      @include caption1($size: 12px, $color: $main01);
      @include flex(center);
      white-space: pre-wrap;
    }

    .tooltipArrow {
      position: absolute;
    }
  }
}
