// Purple
$p900: #111330;
$p800: #232660;
$p700: #343991;
$p600: #464cc1;
$p500: #575ff1;
$p400: #797ff4;
$p300: #9a9ff7;
$p200: #bcbff9;
$p100: #dddffc;
$p50: #f0f1ff;

// Gray
$black: #2b2b2b;
$gray500: #35393f;
$gray400: #444951;
$gray300: #5b626d;
$gray200: #737c89;
$gray100: #95a0b1;
$gray50: #c3cad5;
$gray30: #dee2e8;
$gray10: #f6f6f7;

// Background
$background: #232323;

// Error
$error: #ff5e5e;

// Main

$main01: #575ff1;
$main02: #ff4747;
$main03: #fff06c;

// Sub

$sub01: #82facd;
$sub02: #c6c6c6;
$sub03: #eaeaea;
