// Primary
$p500: #ff9a1e;
$p400: #ffb14a;
$p300: #ffcd85;
$p200: #ffe0b5;
$p100: #fff3e1;

// Gray
$black: #2b2b2b;
$gray500: #4d4d4d;
$gray400: #6d6d6d;
$gray300: #909090;
$gray200: #b7b7b7;
$gray100: #dddddd;
$gray50: #f2f2f2;

// Background
$background: #232323;

// Error
$error: #ff5e5e;

// Main

$main01: #eeff71;
$main02: #6679ff;

// Sub

$sub01: #82facd;
$sub02: #c6c6c6;
$sub03: #eaeaea;
