.wrapper {
  @include flex(flex-start, space-between, column);

  height: calc(100% - 68px);
  padding: 32px 20px 36px 20px;

  .content {
    @include flex(flex-start, flex-start, column);

    .title {
      @include Heading2;
      margin-bottom: 20px;
    }

    .subTitle {
      @include Body1;
    }

    .subTitle + .subTitle {
      margin-bottom: 40px;
    }
  }

  .familyWrapper {
    display: grid;
    width: 350px;
    height: 350px;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .family {
      @include flex(center, center, column);
      @include Body2($color: $gray200);

      border-radius: 12px;
      background-color: $gray10;

      label {
        margin-top: 8px;
      }
    }

    .selected {
      @include SubHeading3($color: $p500);
      border: 1px solid $p500;
      background-color: $p50;
    }
  }

  .button {
    width: 100%;
  }
}
