.wrapper {
  @include flex(center, space-between, column);

  height: 100%;
  padding: 124px 20px 36px 20px;

  .content {
    @include flex(center, center, column);

    .title {
      @include Heading2($color: $gray500);
    }

    .title + .title {
      margin-bottom: 20px;
    }

    .subTitle {
      @include Body1($color: $gray300);
    }

    .subTitle + .subTitle {
      margin-bottom: 41px;
    }
  }

  .button {
    width: 100%;
  }
}
