.wrapper {
  @include flex(center, center, column);
  text-align: center;
  padding: 83px 20px;
}

.title {
  @include Heading2;
  color: $gray500;
  margin-bottom: 20px;
}

.description {
  @include Body1;
  color: $gray300;
  margin-bottom: 82px;
}

.imgwrapper {
  @include flex($flexDirection: column);
}

.img {
  width: 116px;
  height: 112px;
  background-color: $gray100;
  margin-bottom: 24px;
}
